* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: $primary;
}

li {
    list-style: none;
}

.errorMessage {
    color: black;
    font-size: 14px;
    background-color: rgba(255, 0, 0, .5);
    padding: 2px 12px;
    border-radius: 2rem;
    font-weight: 400;
    margin-top: 6px;
    display: block;
    width: fit-content;
}

.icon {
    padding: 10px;
    background-color: $lightGray;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    transition: .3s all;
    cursor: pointer;

    &:hover {
        border-radius: 50%;
    }

}

svg {
    width: 100%;
    height: 100%;
}